.Total{
  height: 450px;
}
.Login{
  font-weight: 500;
}
.Info{
  color: grey;
}
#Username{
  padding: 10px;
  width: 95%;
  border: none;
  border-radius: 2px;
}
#Password{
  padding: 10px;
  width: 95%;
  border: none;
  border-radius: 2px;
}
.Box{
  height: 525px;
padding-top: 100px;
}
.Regpage{
position: relative;
  background-color:black;
  border-radius: 5px;
  width: 23%;
  text-align: center;
  padding: 30px;
  line-height: 50px;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
color:rgb(255, 255, 255);
margin-left: 500px;

}
.Button{
  background-color:rgb(0, 110, 255);
width: 100%;
padding: 5px;
  border:none;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-radius: 2px;
}
.Button:hover{
  background-color: rgb(26, 142, 237);
  color: black;
}
@media screen and (max-width: 700px) and (min-width:300px){
  .Box{
    height: 600px;
  }
  .Regpage{
    width: 75%;
  margin-left: 7%;
  }
}
@media screen and (max-width: 1000px) and (min-width:700px){
  .Box{
    height: 600px;
  }
  .Regpage{
    width: 50%;
  margin-left: 23%;
  }
}
@media screen and (max-width: 1200px) and (min-width:1000px){
  .Box{
    height: 600px;
  }
  .Regpage{
    width: 50%;
  margin-left: 20%;
  }
}
.Anotherpage{
  height: 70px;
  margin-top: -20px;

  padding-top: 10px;
  
}
.row{
 
  width: 80%;
  float: right;
  height: 75px;
  box-shadow: 50px  solid rgb(230, 231, 233);
}
.center{
margin-left: -3px;
  height: 70px;
  width: 70%; 
   border: 1px solid rgb(230, 231, 233);
   
}
.rightend{
  float: right;
  width:30%;
  margin-top: -75px;
  height: 70px;

}
.Demouserimg{
  border-radius: 50%;
margin-left: -120px;
  }
  .Demouserdropdown{
    margin-top: -50px;
  margin-left: 5px;
  }

.demouser{
 margin-left: -2px;
  width: 60%;
  height: 53px;
padding-top: 20px;
  border: 1px solid rgb(230, 231, 233);
  font-size: medium;
  text-align: center;
  
  
}

.logout{
  width: 40%;
  height: 38px;
  float: right;
  margin-top: -75px;
  padding-top: 35px;
  font-size: medium;
 text-align: center;
 text-decoration: none;

  border: 1px solid rgb(230, 231, 233);
  
}
.logout a{
  text-decoration: none;
  color: black;
}

.LoGo{
  height: 60px;
  width: 19%;
  text-align: center;
  padding: 5px;
  color: rgb(72, 178, 248);
  border: 1px solid rgb(230, 231, 233);
}
.Logo{
  font-size: 25px;
  letter-spacing: 0px;
}
.Navbar{
  width: 20%; 
  
   color:white;
}
.Page{
color: black;
  height: 500px;
  width: 80%;
  float: right;
  margin-top: -1100px;


}
.Sidebar{
  list-style-type: none;
 margin-top:0px;
  padding: 0;
  width: 99%;
  height: 1100px;
  background-color:rgb(28, 32, 42);

 
}
.List {
  display: block;
  color:rgb(156, 188, 192);
  padding: 8px 8px;
  text-decoration: none;
 


}
.List a{
  color: rgb(156, 188, 192);
  text-decoration: none;
 

}
Link{
  text-decoration: none;
}


.List a:hover {
  color: rgb(72, 195, 248);
margin-left: 15px;}
.List:hover{
  background-color:rgb(86, 84, 84);
  color: rgb(72, 195, 248);
  text-decoration: none;
}

.sideheading{

  color:white ;
 padding: 10px;
margin-left: 20px;
 font-weight:200;
 letter-spacing:0;
 margin-top: -30px;
}
.CloseButton{
  font-size: 20px;
   width: 15%;
    float: right;
    margin-top: -45px;
    margin-right:10px;
    background-color: rgb(28, 32, 42);
    border: none;
    color: white;
 
  }
.Dashboard{
  height: 1000px;
  font-size: medium;
  width: 100%;
margin-top: -40px;
 background-color: rgb(245, 245, 245);

  
}
.Dtop{
  height: 30px;
  font-size: xx-large;
color:rgb(19, 19, 19);
  width: 95%;
  padding: 25px;
  margin-top: 22px;
  font-weight: 100;
  border: 1px solid rgb(230, 231, 233);
 
}
.Dtop2{
  height: 190px;
  

}
.fourdivs{
  height: 160px;
  width:20% ;
  display: inline-block;
  margin: 2%;
  border-radius: 8px;
 
 
}
.fourdivtop{
  background-color:rgb(64, 181, 223);
  height: 35px;
border-top-right-radius: 8px;
border-top-left-radius:8px;
color: white;

}
.zero{
  float: right;
  margin-top: -36px;
}
.fourdivcenter{
  height: 60px;
  background-color:rgb(50, 158, 197);
  color: rgb(100, 191, 240);
  font-size:50px;
 padding-top: 15px;
 padding-left: 10px;
}
.fourdivcenter:hover{
  color: white;
}
.numbers{
  margin-left: 100px;
  margin-top: -70px;
  color: white;
  font-weight: 500;
}
.fourdivbottom{
  height:30px;
  background-color: rgb(40, 153, 187);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

.Home{
float: right;
margin-right: 700px;
  font-size: medium;

}
.Home a{
  text-decoration: none;
}



.Filters{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}


.Languageeditor{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}
.Layouts{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}
.Themeeditor{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}

.Orders{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}
.Recurringorders{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}
.Returns{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}

.Customergroups{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}
.Customerapprovals{
  height: 100px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}

#Arrow{
 float: right;
 font-size: 20px;
 margin-top: -10px;
color: rgb(156, 188, 192);

}
#Arrow:hover{
  color:  rgb(72, 195, 248);
}
.Settings{
 float: right;
  margin-left: 1000px;
  margin-top: -50px;
  height: 35px;
font-size: small;
  background-color: rgb(57, 166, 255);
  border: none;
  border-radius:5px;
  color: white;
padding: 5px;
padding-right:2px ;
}
i{
  padding: 5px;
  padding-right: 10px;
  
}

